body {
	font-family: sans-serif;
	color: #333;
	background: #fcfcfc;
}

.headshot {
	height: 150px;
	width: auto;
	border-radius: 100px;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
}

.bio {
	text-align: center;
	font-size: 1.1em;
}

.bio a {
	text-decoration: none;
}

.bio a:visited {
	color: blue;
}

.bio__name {
	font-weight: bold;
	font-size: 1.8em;
	color: #222;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.links {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin: 20px auto;
	padding-top: 10px
}

.links__icon {
	width: 30px;
	opacity: 0.6;
	cursor: pointer;
}

.links__icon:hover {
	opacity: 1;
}

/* Larger than HD */
@media (min-width: 1800px) {
	body {
		font-size: 1.4em;
	}
	.headshot {
		height: 200px;
		border-radius: 100px;
		margin-top: 70px;
		margin-bottom: 40px;
	}
	.links {
		width: 350px;
		margin-top: 30px;
	}
	.links__icon {
		width: 40px;
	}
}
